@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*font-size:10px; set to 10px because that makes 1rem = 10px so 1.5rem = 15px; */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #011C26; }

body {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  color: #e0fbfc; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.workout-box {
  position: relative;
  width: 80%;
  background-color: #175973;
  margin: auto;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(91, 167, 255, 0.2); }
  .workout-box__list {
    font-size: 2rem;
    list-style-type: none; }
    .workout-box__list :nth-child(odd) {
      margin-top: .8rem;
      color: #c07fa3; }
  .workout-box__controls :not(:first-child) {
    margin-left: 2rem; }
  .workout-box__icon {
    width: 3rem;
    height: 3rem;
    fill: #5ba7ff; }
  .workout-box__link:link, .workout-box__link:active {
    display: inline-block;
    fill: #5ba7ff; }
  .workout-box__link:hover > *, .workout-box__link:focus > * {
    fill: #c07fa3;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7)); }

.header {
  width: 100%;
  background-color: #175973;
  display: flex;
  justify-content: space-between;
  flex: 0 0 50%;
  box-shadow: 0 0.5rem 1.5rem rgba(91, 167, 255, 0.2); }

.logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem; }
  .logo-box__logo {
    width: 3rem;
    height: 3rem;
    fill: #e0fbfc; }
  .logo-box__header {
    margin-left: .5rem;
    font-size: 3rem;
    font-family: "Covered By Your Grace", cursive; }

.user-nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  list-style: none; }

.user-nav__item {
  margin-right: 2rem; }

.user-nav__link {
  height: 100%;
  display: inline-block;
  padding: .5rem 1rem; }
  .user-nav__link:hover {
    background-color: #012E40; }
    .user-nav__link:hover > * {
      fill: #c07fa3;
      -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
      filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7)); }

.user-nav__icon {
  width: 4rem;
  height: 4rem;
  fill: #5ba7ff; }

.content {
  position: relative;
  padding: 3rem; }
