//Colors

$color-default-font: #e0fbfc;

$color-primary: #5ba7ff;
$color-primary-2: rgb(192, 127, 163);

$color-primary-light:#2998ff;
$color-primary-medium: #2976A6;
$color-primary-dark: #012E40;

$color-secondary-light:#175973;
$color-secondary-dark:#011C26;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #7c7a7a;
$color-grey-dark-1:#494949;
$color-grey-dark-2: #0f0f0f;


$color-white:#fff;
$color-black:#000;

//Fonts
$default-font-size: 1.6rem;
