.header {
    width:100%;
    background-color: $color-secondary-light;
    display:flex;
    justify-content: space-between;
    flex: 0 0 50%;
    box-shadow: 0 .5rem 1.5rem rgba($color-primary, .2);

    @include respond(tab-port) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;

    @include respond(tab-port) {
        margin-left: 0;
    }

    &__logo {
        width: 3rem;
        height: 3rem;
        fill:$color-default-font;
    }

    &__header {
        margin-left: .5rem;
        font-size: 3rem;
        font-family: $default-font-family-2;
    }
}

.user-nav {

    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height:100%;
        list-style: none;
    }

    &__item {
        margin-right:2rem;   
    }

    &__link {
        height:100%;
        display:inline-block;
        padding: .5rem 1rem;
        &:hover {
            background-color: $color-primary-dark;
            & > * { // set icon fill on hover of link
                fill: $color-primary-2;
                -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
                filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
            }
            
        }
    }

    &__icon {
        width: 4rem;
        height: 4rem;
        fill: $color-primary;
    }
}