.workout-box {
    position: relative;
    width: 80%;
    background-color: $color-secondary-light;
    margin:auto;
    padding: 2rem;
    
    box-shadow: 0 1rem 2rem rgba($color-primary, .2);

    &__list {
        font-size: 2rem;
        list-style-type: none;

        :nth-child(odd) { //styling only the Names of the workouts
            margin-top:.8rem;
            color: $color-primary-2;
        }
    }

    &__item {

        
    }

    &__controls {
        //position: absolute;
        //bottom: 1.5rem ;

        :not(:first-child) {
            margin-left:2rem;
        }

        
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        fill: $color-primary;
    }

    
    &__link:link,
    &__link:active {
        display:inline-block;
        fill: $color-primary;
    }

    &__link:hover,
    &__link:focus {
        & > * { // set icon fill on hover of link
            fill: $color-primary-2;
            -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
            filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
        }
    }

}